/* generics */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    overflow-x: hidden;
}


/* my rules*/
.eros-bg-black {
    background-color: black;
}

.eros-height-20px {
    height: 20px;
}

.eros-bg-section-1 {
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}   

#returnal {
    margin-top: 12rem;
}

.eros-bg-section-4 {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.eros-bg-light-dark {
    background-color: #1f1f1f;
}

.eros-main-margin {
    margin-top: 6.5rem;
}

.eros-bg-section-7 {
    background-color: #bebcbb;
}

.eros-bg-section-9 {
    background-color: #161c3b;
}

.eros-bg-footer {
    background-color: #00439c;
}

/* hover */

.section-3-card-img:hover {
    cursor: pointer;
    border-bottom: 1px solid #0d6efd;
    filter: opacity(0.5);
  
}

/* .section-2-card-img {
    transition: 1s;
} */

@media screen and (max-width:1200px) {
    .section-2-card-img:hover {
        border: 2px solid blue;
        transform: scale(0.95);
        padding: 2px;
        margin: -2px;
    }
}



@media screen and (min-width:1200px) {
    .section-2-card-img:hover {
        border: 2px solid blue;
        transform: scale(0.95);
        padding: 2px;
        margin: -22px 0px;
        cursor: pointer;
        transform: translateY(-20px);
        transition: 1s;
        
        
    }
}
