/* generics */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    overflow-x: hidden;
}


/* my rules*/
.eros-bg-black {
    background-color: black;
}

.eros-height-20px {
    height: 20px;
}

.eros-bg-section-1 {
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}   

#returnal {
    margin-top: 12rem;
}

.eros-bg-section-4 {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.eros-bg-light-dark {
    background-color: #1f1f1f;
}

.eros-main-margin {
    margin-top: 6.5rem;
}

.eros-bg-section-7 {
    background-color: #bebcbb;
}